* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 175, 175);
    margin: 50px;
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

.navbar {
    justify-content: end;
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;
}

ul li {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.tech-skills {
    display: grid;
}

.contact-info {
    display:flex;
    justify-content: end;
    gap: 30px;
}

.card {
    border-color: rgb(66, 69, 73);
    border-width: 2px;
}

#pers-foto {
    display: flex;
    justify-self: left;
    width: 150px;
    border-radius: 600px;
}

.container-fluid {
    background-color: rgb(228, 208, 208);
}